body {
  font-family: 'Helvetica';
  letter-spacing:-5px;
  background:#FFF;
  background-size:100%;
  color:#000;
  margin:0;
  padding:0;
  font-weight:bold;
  /*background-repeat:no-repeat;*/
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#0090be;
}

a {
  background: #34d0e7;
  color:#000;
  text-decoration:none;
}

img {
  width:100%;
}
small{
  font-size: 0.2em;
  display: block;
  line-height: 0.2em;
}
div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}
div.inv {
  color:#FFF;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}